$button-color-kit: (
  primary: (
    accent: var(--primary),
    hover: var(--neutral-100),
    secondary: var(--neutral-0),
  ),
  dark: (
    accent: var(--neutral-100),
    hover: var(--primary),
    secondary: var(--neutral-0),
  ),
  gray: (
    accent: var(--neutral-50),
    hover: var(--neutral-100),
    secondary: var(--neutral-0),
  ),
)
