<div class="header">
    <div class="header__container container">
        <main-logo class="header__logo"></main-logo>
        <nav class="header__navigation">
            <ul class="header__navigation-list list-style-none">
                @for (navigationItem of navigationItems; track navigationItem.label) {
                    <li (click)="scrollTo(navigationItem.target)" class="header__navigation-item">{{ navigationItem.label }}</li>
                }
            </ul>
        </nav>
        <div class="header__actions">
            <theme-switcher></theme-switcher>
            <button type="button" button-filled class="header__action" color="dark" (click)="scrollTo('#contact')">Contact Me</button>
        </div>
    </div>
</div>