<div class="header">
    <div class="header__container container">
        <main-logo class="header__logo"></main-logo>
        <nav class="header__navigation">
            <ul class="header__navigation-list list-style-none">
                <li class="header__navigation-item">
                    <a href="#" class="header__navigation-link">About</a>
                </li>
                <li class="header__navigation-item">
                    <a href="#" class="header__navigation-link">Projects</a>
                </li>
                <li class="header__navigation-item">
                    <a href="#" class="header__navigation-link">Stack</a>
                </li>
                <li class="header__navigation-item">
                    <a href="#" class="header__navigation-link">Experience</a>
                </li>
                <li class="header__navigation-item">
                    <a href="#" class="header__navigation-link">Contact</a>
                </li>
            </ul>
        </nav>
        <div class="header__actions">
            <theme-switcher></theme-switcher>
            <a button-filled class="header__action" color="dark" href="">Hire me</a>
        </div>
    </div>
</div>