<div class="cover">
    <div class="cover__grid"></div>
    <div class="cover__container container">
        <h1 class="cover__title">Angular Frontend <span>Developer.</span></h1>
        <div class="cover__content">
            <div class="cover__description">Frontend Engineer specializing in Angular v14-21, RxJS, Typescript. 4 years experience in developing modern applications using Angular. Passionate about writing clean, reusable code and creating intuitive user experiences.</div>
            <ul class="cover__stats list-style-none">
                <li class="cover__stat">
                    <div class="cover__stat-value">4+</div>
                    <div class="cover__stat-title">years <br> experience</div>
                </li>
                <li class="cover__stat">
                    <div class="cover__stat-value">6</div>
                    <div class="cover__stat-title">projects <br> shipped</div>
                </li>
                <li class="cover__stat">
                    <div class="cover__stat-value">10<span>$</span></div>
                    <div class="cover__stat-title">hourly <br> rate</div>
                </li>
            </ul>
            <div class="cover__actions">
                <a button-filled size="lg" class="cover__action" color="dark" href="">
                    <span>View Projects</span>
                    <mat-icon class="material-symbols-outlined" fontIcon="arrow_outward"></mat-icon>
                </a>
                <a button-outlined size="lg" class="cover__action" color="dark" href="">
                    <span>Get in touch</span>
                    <mat-icon class="material-symbols-outlined" fontIcon="arrow_forward"></mat-icon>
                </a>
            </div>
        </div>
        <div class="cover__footer">
            <div class="cover__footer-title">
                <mat-icon class="material-symbols-outlined" fontIcon="location_on"></mat-icon>
                <span>Work Format · Remove · Hybrid · Office (Kyiv/Dnipro)</span>
            </div>
            <!-- <div class="cover__subtitle">Developer portfolio</div> -->
        </div>
    </div>
</div>