@use '_mixins/rem' as *;
@use '_mixins/breakpoints' as *;

.cover {
    display: flex;
    flex-direction: column;
    
    min-height: max(100dvh, 840px);
    
    &__grid {
        --columns: 8;
        
        position: absolute;
        z-index: -1;
        inset: 0;
        
        background-image: repeating-linear-gradient(to right,transparent,transparent calc(100% / var(--columns) - 1px),var(--divider) calc(100% / var(--columns) - 1px),var(--divider) calc(100% / var(--columns)));
    }
    
    &__container {
        flex-grow: 1;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: clamp(32px, 3vw, rem(64px));

        padding-top: 64px;
        box-sizing: border-box;
    }

    &__title-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__contacts {
        min-width: 280px;

        display: flex;
        justify-content: center;
    }
    
    &__subtitle {
        display: flex;
        align-items: center;
        gap: 8px;
        
        color: var(--primary);
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 1px;
        line-height: 100%;
        
        &:before {
            content: '';
            height: 1px;
            width: 32px;
            background-color: var(--primary);
        }
    }
    
    &__content {
        display: flex;
        align-items: start;
        flex-wrap: wrap;
        gap: rem(32px)
    }
    
    &__description {
        max-width: 460px;
    }
    
    &__stats {
        display: flex;
        align-items: start;
        justify-content: center;
        gap: 15%;
        flex-grow: 1;
    }
    
    &__stat {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    
    &__stat-value {
        color: var(--neutral-100);
        font-weight: 800;
        font-size: clamp(32px, 3vw, rem(48px));
        line-height: 100%;
        
        span {
            font-size: clamp(24px, 3vw, rem(32px));;
        }
    }
    
    &__stat-title {
        font-size: 12px;
        text-transform: uppercase;
        color: var(--neutral-50);
        font-weight: 500;
        letter-spacing: 0.5px;
    }
    
    &__actions {
        display: flex;
        flex-direction: column;
        gap: rem(16px);
        
        margin-left: auto;
    }
    
    &__action {
        min-width: 280px;
        justify-content: space-between;
    }
    
    &__footer {    
        --animation-delay: 0.5s;
    }

    &__footer-inner {
        display: flex;
        align-items: center;
        gap: rem(32px);
        flex-wrap: wrap;

        padding: rem(48px) 0;
        border-top: 1px solid var(--border);
    }
    
    &__footer-title {
        display: flex;
        align-items: center;
        gap: 8px;
        line-height: 100%;
        font-weight: 500;
        font-size: 14px;
        color: var(--neutral-60);
        
        mat-icon {
            color: var(--neutral-100)
        }
    }

    &__availability {
        display: flex;
        align-items: center;
        gap: 16px;
        color: var(--success);
        
        font-size: 14px;
        font-weight: 600;
    }
    
    &__availability-dot {
        position: relative;
        width: 12px;
        height: 12px;
        
        span:first-child {
            position: absolute;
            inset: 0;
            
            background-color: var(--success);
            border-radius: 50%;
            opacity: 0.75;
        }
        
        span:last-child {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            
            height: 18px;
            width: 18px;
            
            border: 2px solid var(--success);
            border-radius: 30px;
            
            animation: pulsate 1s ease-out;
            animation-iteration-count: infinite; 
            opacity: 0    
        }
    }
}

@keyframes pulsate {
    0% {transform: translate(-50%, -50%) scale(0.1, 0.1); opacity: 0;}
    50% {opacity: 1.0;}
    100% {transform: translate(-50%, -50%) scale(1.2, 1.2); opacity: 0;}
}


@include media-breakpoint-down(sm) {
    .cover {
        &__container {
            justify-content: flex-end;
        }

        &__title-wrapper {
            justify-content: center;
            text-align: center;
        }

        &__action,
        &__actions {
            margin: 0;
            width: 100%;
        }

        &__footer-inner {
            gap: 16px;
            justify-content: center;
        }
    }
}