<div class="footer container">
  <div class="footer__about">
    <main-logo color="secondary" class="footer__logo"></main-logo>
    <span>•</span>
    <span>Angular Frontend Developer</span>
  </div>
  <!-- <div class="footer__rights">© 2026 - Kyiv, Ukraine</div> -->
  <div class="footer__links">
    <ul class="footer__links-list list-style-none">
      <li class="footer__links-item">
        <a href="#" target="_blank">
          <mat-icon svgIcon="github"></mat-icon>
        </a>
      </li>
      <li class="footer__links-item">
        <a href="#" target="_blank">
          <mat-icon svgIcon="linkedin"></mat-icon>
        </a>
      </li>
      <li class="footer__links-item">
        <a href="#" target="_blank">
          <mat-icon svgIcon="mail"></mat-icon>
        </a>
      </li>
    </ul>
  </div>
</div>
