<ul class="contacts list-style-none">
    <li 
        class="contacts__item-wrapper"
        scrollAnimation="fadeOutUp"
        animationRangeStart="contain 80%"
        animationRangeEnd="exit"
    >
        <a href="https://t.me/MrSiges" target="_blank" class="contacts__item">
            <div class="contacts__item-icon">
                <mat-icon svgIcon="telegram"></mat-icon>
            </div>
            <div class="contacts__item-content">
                <div class="contacts__item-name">Telegram</div>
                <div class="contacts__item-title">@MrSiges</div>
            </div>
        </a>
    </li>
    <li 
        class="contacts__item-wrapper"
        scrollAnimation="fadeOutUp"
        animationRangeStart="contain 85%"
        animationRangeEnd="exit"
    >
        <a href="mailto:siges.main@gmail.com" target="_blank" class="contacts__item">
            <div class="contacts__item-icon">
                <mat-icon svgIcon="mail"></mat-icon>
            </div>
            <div class="contacts__item-content">
                <div class="contacts__item-name">Email</div>
                <div class="contacts__item-title">siges.main@gmail.com</div>
            </div>
        </a>
    </li>
    <!-- <li class="contacts__item-wrapper">
        <a href="https://github.com/Twesty" target="_blank" class="contacts__item">
            <div class="contacts__item-icon">
                <mat-icon svgIcon="github"></mat-icon>
            </div>
            <div class="contacts__item-content">
                <div class="contacts__item-name">Github</div>
                <div class="contacts__item-title">github.com/Twesty</div>
            </div>
        </a>
    </li> -->
    <li
        class="contacts__item-wrapper"
        scrollAnimation="fadeOutUp"
        animationRangeStart="contain 90%"
        animationRangeEnd="exit"
    >
        <a href="https://www.linkedin.com/in/siges/" target="_blank" class="contacts__item">
            <div class="contacts__item-icon">
                <mat-icon svgIcon="linkedin"></mat-icon>
            </div>
            <div class="contacts__item-content">
                <div class="contacts__item-name">LinkedIn</div>
                <div class="contacts__item-title">linkedin.com/in/siges</div>
            </div>
        </a>
    </li>
</ul>