<div class="experience">
    <div class="experience__container container">
        <div
            scrollAnimation="fadeInLeft"
            animationRangeStart="contain 0%"
            animationRangeEnd="contain 75%"
        >
            <div class="section-tag">
                <span>03</span>
                <span>experience</span>
            </div>
            <h4 class="section-title">Career History</h4>
        </div>
        <ul class="experience__list list-style-none">
            <li class="experience-item experience__list-item">
                <div class="experience-item__date-wrapper">
                    <div class="experience-item__date">October 2021 - September 2025 <span>(4 years)</span></div>
                    <div class="experience-item__location">Ukraine, Remote</div>
                </div>
                <div class="experience-item__info">
                    <h4 class="experience-item__title">Angular Frontend Developer</h4>
                    <div class="experience-item__subtitle">Dust Foundation</div>
                    <div class="experience-item__description">
                        <ul>
                            <li>Development of the client-side of applications using Angular SPA.</li>
                            <li>Creation of administrative panels and internal dashboards.</li>
                            <li>Implementation of authorization, authentication, and a role-based access model.</li>
                            <li>Integration with REST APIs and data processing.</li>
                            <li>Development of reusable UI components and modular architecture.</li>
                            <li>Optimization of performance and user experience.</li>
                            <li>Creating a responsive interface with modern animations and cross-browser support.</li>
                            <li>Collaborated with backend & UI/UX teams</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="experience-item experience__list-item">
                <div class="experience-item__date-wrapper">
                    <div class="experience-item__date">January 2019 - October 2021 <span>(2 years)</span></div>
                    <div class="experience-item__location">Ukraine, Remote</div>
                </div>
                <div class="experience-item__info">
                    <h4 class="experience-item__title">Early career experience in WordPress/OpenCart development</h4>
                    <div class="experience-item__subtitle">Freelance</div>
                </div>
            </li>
        </ul>
    </div>
</div>