@use '_mixins/rem' as *;
@use '_mixins/breakpoints' as *;

.experience-item {
    display: flex;
    gap: rem(32px);

    padding: rem(48px) 0;

    border-top: 1px solid var(--border);

    &:last-child {
        border-bottom: 1px solid var(--border);
    }

    &__date-wrapper {
        max-width: min(100%, 420px);
        flex-grow: 1;

        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__date {
        font-family: monospace;
        font-size: 12px;
        color: var(--primary);

        span {
            color: var(--neutral-60)
        }
    }

    &__location {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 1px;

        color: var(--neutral-50)
    }

    &__info {
        flex-grow: 1;
        flex-basis: 0;
    }

    &__title {
        font-family: var(--base-font);
    }

    &__subtitle {
        font-size: 14px;
        color: var(--neutral-50);
    }

    &__description {
        margin-top: rem(24px);

        font-size: 14px;
    }
}

@include media-breakpoint-down(sm) {
    .experience-item {
        padding: 24px 0;
        flex-direction: column;
    }
}
